<!-- About Section -->
<section id="about" class="container content-section text-left">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/><br/>
          <h2>About Me</h2>
          <br/>
            <p>Hello, My name is David Rocker! Currently I am a Software Developer at IBM. I am also the proud father of two adorable cat children.</p>
            <h3>Education</h3>
            <p>I did my undergraduate and graduate studies at North Carolina State University. I have minors in Phyiscs and Computer Science. My undergraduate degree was in Applied Mathematics, and my Masters degree was in Financial Engineering - also known as Quantitative Finance. During my undergraduate studies I was also a student athlete on the NC State Track and Field team. My event was hammer throw!</p>
            <h3>Profiles</h3>
            <p>Feel free to browse my <a href="https://www.linkedin.com/in/dlrocker/">LinkedIn</a> profile for information about my career. Otherwise, if you wish to view some of my personal development projects feel free to look below or visit my <a href="https://github.com/dlrocker">GitHub</a>.</p>
            <br/>
          </div>
    </div>
</section>
