<!-- About Section -->
<section id="cats" class="container content-section text-left">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>My Cats</h2>
            <br/><br/>
            <div class="row">
                <div class="column">
                    <img class="img-responsive" src="img/cats/cats1.jpg" alt="">
                </div>
                <div class="column">
                    <img class="img-responsive" src="img/cats/cats2.jpg" alt="">
                </div>
                <div class="column">
                    <img class="img-responsive" src="img/cats/cats3.jpg" alt="">
                </div>
                <div class="column">
                    <img class="img-responsive" src="img/cats/cats4.jpg" alt="">
                </div>
            </div>
            <br/><br/>
            <br/><br/>
        </div>
    </div>
</section>
